*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/python_codes/chineseMedicineCLS/results/model.pt
/python_codes/chineseMedicineCLS/weights/model_last.pth
/python_codes/chineseMedicineCLS/weights/best.pth
/python_codes/chineseMedicineCLS/model.pt
/app/src/main/assets/model.pt
